<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>random matching</title>
</head>
<body>
    <h4>ALL USERS HAVE LOGGED IN</h4>

    <h1>ALL PLAYER STATUS</h1>

    <P>list of all players</P>

    <table border="1">
        <tr>
            <th>id</th>
            <th>Full Name</th>
            <th>UserName</th>
            <th>Phone number</th>
            <th>Status</th>
        </tr>
        <%playerList.forEach(players=>{%>
            <tr>
                <td>
                    <p><%= players.id %></p>
                </td>
                <td>
                    <p><%= players.fullName %></p>
                </td>
                <td>
                    <p><%= players.userName %></p>
                </td>
                <td>
                    <p><%= players.phoneNumber %></p>
                </td>
                <td>
                    <p><%= players.status? 'Online' : 'Offline' %></p>
                </td>


            </tr>
            
        <%})%>
        
    </table>


    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket=io()
        socket.current.emit('addPlayers',playerId)
    </script>
    <!-- <script src="./tracker.js"></script> -->

</body>
</html>